
  <section class="h-[80dvh]">
    <%= render "shared/map", points_json_url: points_path  %>
  </section>
<!--<section class="h-[50dvh]">-->
  <%#= render "shared/map-alpine" %>
<!--</section>-->
  <section class="container rounded shadow mx-auto">
    <%= render "points", points: @points %>
  </section>

