<div x-data="photosPreview()">

  <div class="flex flex-col">
    <%= form.label field_name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.file_field field_name, class: "btn",  multiple: true, **{ 'x-on:change': 'chooseFiles', 'x-ref': 'fileInput' } %>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-4">
  <template x-for="(file, index) in files" :key="file.name">
      <div class="relative">
        <img :src="file.url" :alt="file.alt" class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">

        <button x-on:click="remove(index)" type="button" class="btn btn-xs btn-danger absolute top-1 right-1">
          <svg class="w-[16px] h-[16px] text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"/>
          </svg>
        </button>

      </div>

    </div>
  </template>
</div>